<%- layout("/layouts/boilerplate") %>
<body>
    <h1>Delete your Account</h1>
    <form method="post" action="/user/<%= user._id %>?_method=DELETE">
        <br>
        <input type="text" placeholder="Enter your name" name="name" required><br>
        <input type="password" placeholder="Enter your password" name="password" required>
        <button type="submit" class="btn btn-dark">Delete</button>
    </form>
</body>
</html>
